{{define "main"}}
    <div class="py-3">
        <article>
            {{.}}
        </article>
        <div>
            <a href="/" class="link-success">Go to list</a>
        </div>
    </div>
{{end}}
