{{define "main"}}
    <div class="py-3">
        <h2>English notes</h2>
        <div class="vstack gap-3">
            {{range .}}
                <div>
                    <a href="/list/{{.}}">{{.}}</a>
                </div>
            {{end}}
        </div>
    </div>
{{end}}
